<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color:#467599;">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-75 h-75">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-5 d-none d-sm-inline text-center"><%= actor %></span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item">
        <a href="/" class="nav-link align-middle px-0">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-white">Catalogo de <%= actor == "Gerente" ? "Proyectos" : "Inmuebles" %></span>
        </a>
      </li>
      <li>
        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
          <li>
            <a href="/about" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline text-white">Sobre Nosotros</span></a>
          </li>
          <% if(actor == "Admin"){%>
          <li>
            <a href="/usuarios" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline text-white">Usuarios</span></a>
          </li>
          <li><a href="/registroAdmin" class="nav-link px-0 text-white">Registrar Administrador</a></li>
          <%}%>
        </ul>
      </li>
      <% if(actor == "Gerente" || actor == "Agente"){%>
          <li>
            <a href="/nuevo" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline text-white">Agregar <%= actor == "Gerente" ? "Proyecto":"Inmueble" %></span></a>
          </li>
          <%}%>
          <% if(actor){ %>
          <li>
            <a href="/perfil" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline text-white">Ver mi perfil</span></a>
          </li>
          <% } %>
        </ul>
  </div>
</div>