<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InmobITT</title>
  <link rel="icon" type="image/x-icon" href="img/favicon.ico">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-dark px-5">
      <a href="/">
        <h1 style="color: white;">Inmob<strong>ITT </strong></h1>
      </a>
      <h5 style="align-self: left; color: white;">Inicio de sesión</h5>
    </nav>
  </header>

  <main class="d-flex" style="height: 80vh;">
    <form style=" width: 100%;max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;" id="login">
      <div class="mb-3">
        <label for="correo" class="form-label">Correo:</label>
        <input type="email" class="form-control" id="correo" aria-describedby="emailHelp" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña:</label>
        <input type="password" class="form-control" id="password" aria-describedby="emailHelp" required>
      </div>
      <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
    </div>
  </main>
  <script src="http://localhost:3001/js/login.js"></script>
</body>

</html>