<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>InmobITT</title>
        <link preload="main.css" href="http://localhost/CSS/main.css" as="style">
        <link href="http://localhost/CSS/main.css" rel="stylesheet">
        <link preload="styleAdmin.css" href="css/styleAdmin.css" as="style">
        <link preload="styleAdmin.css" href="css/normalice.css">
        <link href="css/styleAdmin.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arima:wght@100&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <nav class="navbar navbar-expand-lg" style="background-color: #1D3354;">
        <div class="container-fluid">
            <a class="d-block p-2  text-white navbar-brand" href="index comprador.html">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-warehouse" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 21v-13l9 -4l9 4v13" />
                    <path d="M13 13h4v8h-10v-6h6" />
                    <path d="M13 21v-9a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v3" />
                </svg>
                Inmob<strong>ITT</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                <a class="btn btn-outline-light" style="margin-left:0.5%;" type="submit">Ingresar</a>
                <a class="btn btn-outline-light" style="margin-left:0.5%;" type="submit">Registrarse</a>
            </div>
        </div>
    </nav><!--   NAVBAR   -->
    <body>    
        <div class="body h-auto">
            <div class="container-fluid">
                <div class="row flex-nowrap">
                    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color:#467599;">
                        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 h-100">
                            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                                <span class="fs-5 d-none d-sm-inline text-center">Comprador</span>
                            </a>
                            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link align-middle px-0">
                                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-white">Catalogo de Inmuebles</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                        <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline text-white">Administrador</span> </a>
                                    <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                        <li class="w-100">
                                            <a href="./ProyectosA adm.html" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline text-white">Proyectos</span></a>
                                        </li>
                                        <li>
                                            <a href="./SobreEmpresa adm.html" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline text-white">sobreEmpresa</span></a>
                                        </li>
                                        <li>
                                            <a href="./CRUDsobreEmpresa adm.html" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline text-white">modificarEmpresa</span></a>
                                        </li>
                                        <li>
                                            <a href="./Usuarios adm.html" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline text-white">Usuarios</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                        <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline text-white">Gerente de Proyectos</span> </a>
                                    <ul class="collapse show nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                        <li class="w-100">
                                            <a href="./agentesGP.html" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline text-white">Agentes de Venta</span></a>
                                        </li>
                                        <li>
                                            <a href="./indexGP.html" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline text-white">Índice de Proyectos</span></a>
                                        </li>
                                        <li>
                                            <a href="./infoinmoitt.html" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline text-white">Información InmoITT</span></a>
                                        </li>
                                        <li>
                                            <a href="./perfilGP.html" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline text-white">Perfil</span></a>
                                        </li>
                                        <li>
                                            <a href="./proyecto.html" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline text-white">Proyecto</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                        <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline text-white">Comprador</span> </a>
                                    <ul class="collapse show nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                        <li class="w-100">
                                            <a href="./index comprador.html" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline text-white">Catalogo de Inmuebles</span></a>
                                        </li>
                                        <li>
                                            <a href="./inmueble-detalles.html" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline text-white">Detalles Inmuebles</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="./valuador.html" class="nav-link px-0 align-middle">
                                        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline text-white">Valuador</span> 
                                    </a>
                                </li>
                            </ul>
                            <hr>
                            <div class="dropdown pb-4">
                                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="http://localhost/IMG/foto_perfil.jpg" alt="perfil" width="30" height="30" class="rounded-circle">
                                    <span class="d-none d-sm-inline mx-1">Chirstian Alexis</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                    <li><a class="dropdown-item" href="#">Proyecto nuevo...</a></li>
                                    <li><a class="dropdown-item" href="#">Configuración</a></li>
                                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col py-3 ">
                        <div class="container h-auto w-100 " style=" margin:0; ">
                          <main class="contenedor sombra">

                            <div class="container marketing ">
                        
                                <!-- 4 columns of text below the carousel -->
                                <div class="row">
                                  <div class="col-lg-3" style="text-align: center;">
                                    <img class=" rounded-circle" width="110" height="110" src="https://i.pinimg.com/564x/a7/20/76/a72076fb0516cecdd13b62e0bf8fb437.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <h6 class="fw-normal" style="margin-top: 0.2rem;">Liliana Castillo</h6>
                        
                                    <p>
                                        Tel:311 214 1801.</p>
                                    <p><a class="btn btn-light" href="#">Ver más &raquo;</a></p>
                                  </div><!-- /.col-lg-4 -->
                        
                                  <div class="col-lg-3" style="text-align: center;">
                                    <img class=" rounded-circle" width="110" height="110" src="https://i.pinimg.com/564x/47/15/c2/4715c22eb435fa76cfd311e07a3a7cc4.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <h6 class="fw-normal" style="margin-top: 0.2rem;">Jonathan Sepulveda</h6>
                        
                                    <p>Tel:311 422 2818.</p>
                                    <p><a class="btn btn-light" href="#">Ver más &raquo;</a></p>
                                  </div><!-- /.col-lg-4 -->
                        
                                  <div class="col-lg-3" style="text-align: center;">
                                    <img class=" rounded-circle" width="110" height="110" src="https://i.pinimg.com/564x/e3/2d/4b/e32d4bc7380200161e697c1ef2434573.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <h6 class="fw-normal" style="margin-top: 0.2rem;">Noemi Castaño</h6>
                        
                                    <p>
                                        Tel:  311 622 0249.</p>
                                    <p><a class="btn btn-light" href="#">Ver más &raquo;</a></p>
                                  </div><!-- /.col-lg-4 -->
                        
                                  <div class="col-lg-3" style="text-align: center;">
                                    <img class=" rounded-circle" width="110" height="110" src="https://i.pinimg.com/564x/a8/3a/af/a83aafbd677c46e461d5c33b36c7181c.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <h6 class="fw-normal" style="margin-top: 0.2rem;">Ernesto Muñiz</h6>
                        
                                    <p>
                                        Tel:311 320 7303.</p>
                                    <p><a class="btn btn-light" href="#">Ver más &raquo;</a></p>
                                </div><!-- /.row -->          
                              </div>
                        
                        
                              <div class="container marketing">
                        
                                <!-- 4 columns of text below the carousel -->
                                <div class="row">
                                  <div class="col-lg-3" style="text-align: center;">
                                    <img class=" rounded-circle" width="110" height="110" src="https://i.pinimg.com/564x/1e/ac/fc/1eacfc99c811c98d49c32048b7ffbdad.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <h6 class="fw-normal" style="margin-top: 0.2rem;">Ismail Vivas</h6>
                        
                                    <p>
                                        Tel:311 485 0692.</p>
                                    <p><a class="btn btn-light" href="#">Ver más &raquo;</a></p>
                                  </div><!-- /.col-lg-4 -->
                        
                                  <div class="col-lg-3" style="text-align: center;">
                                    <img class=" rounded-circle" width="110" height="110" src="https://i.pinimg.com/564x/22/a5/67/22a567ccdd97152fd28f8271136f9fe8.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <h6 class="fw-normal" style="margin-top: 0.2rem;">Rocio Palomares</h6>
                        
                                    <p>
                                        Tel:311 253 1621.</p>
                                    <p><a class="btn btn-light" href="#">Ver más &raquo;</a></p>
                                  </div><!-- /.col-lg-4 -->
                        
                                  <div class="col-lg-3" style="text-align: center;">
                                    <img class=" rounded-circle" width="110" height="110" src="https://i.pinimg.com/564x/b5/88/e9/b588e96f6312650b82467fe806ce1942.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <h6 class="fw-normal" style="margin-top: 0.2rem;">Amelia Cañadas</h6>
                        
                                    <p>
                                        Tel:311 433 6827.</p>
                                    <p><a class="btn btn-light" href="#">Ver más &raquo;</a></p>
                                  </div><!-- /.col-lg-4 -->
                        
                                  <div class="col-lg-3" style="text-align: center;">
                                    <img class=" rounded-circle" width="110" height="110" src="https://i.pinimg.com/564x/e2/37/c6/e237c6389483d69b0b020d8d268f4a7c.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <h6 class="fw-normal" style="margin-top: 0.2rem;">Gonzalo Morillo</h6>
                        
                                    <p>
                                        Tel: 311 489 8836.</p>
                                    <p><a class="btn btn-light" href="#">Ver más &raquo;</a></p>
                                </div><!-- /.row -->          
                              </div>
                        
                        
                        
                              <div class="container marketing">
                        
                                <!-- 4 columns of text below the carousel -->
                                <div class="row">
                                  <div class="col-lg-3" style="text-align: center;">
                                    <img class=" rounded-circle" width="110" height="110" src="https://i.pinimg.com/564x/c2/83/c4/c283c461ceb089a454a897541650e337.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <h6 class="fw-normal" style="margin-top: 0.2rem;">Moises Pulido</h6>
                        
                                    <p>
                                        Tel:311 113 8160.</p>
                                    <p><a class="btn btn-light" href="#">Ver más &raquo;</a></p>
                                  </div><!-- /.col-lg-4 -->
                        
                                  <div class="col-lg-3" style="text-align: center;">
                                    <img class=" rounded-circle" width="110" height="110" src="https://i.pinimg.com/736x/da/af/1a/daaf1a5a07fca51074344371ffeb3c5c.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <h6 class="fw-normal" style="margin-top: 0.2rem;">Mohamed Patiño</h6>
                        
                                    <p>
                                        Tel:311 134 8561.</p>
                                    <p><a class="btn btn-light" href="#">Ver más &raquo;</a></p>
                                  </div><!-- /.col-lg-4 -->
                        
                                  <div class="col-lg-3" style="text-align: center;">
                                    <img class=" rounded-circle" width="110" height="110" src="https://i.pinimg.com/564x/a6/fb/08/a6fb08a316bf35db7af59312c03eadd3.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <h6 class="fw-normal" style="margin-top: 0.2rem;">Khalid Sampedro</h6>
                        
                                    <p>
                                        Tel:311 946 8740.</p>
                                    <p><a class="btn btn-light" href="#">Ver más &raquo;</a></p>
                                  </div><!-- /.col-lg-4 -->
                        
                                  <div class="col-lg-3" style="text-align: center;">
                                    <img class=" rounded-circle" width="110" height="110" src="https://i.pinimg.com/564x/94/5a/50/945a503994ca824747c74997f7531345.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <h6 class="fw-normal" style="margin-top: 0.2rem;">Maria Ines Gamez</h6>
                        
                                    <p>
                                        Tel:311 933 4824.</p>
                                    <p><a class="btn btn-light" href="#">Ver más &raquo;</a></p>
                                </div><!-- /.row -->          
                              </div>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--   BARRA LATERAL IZQUIERDA   -->
        <div class="modal fade modal-fullscreen-xl-down" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Inmueble 1</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <figure class="figure">
                            <img src="https://www.deplace.es/wp-content/uploads/2019/01/que-es-bien-inmueble-1200x675.jpg" class="figure-img img-fluid rounded">
                            <figcaption class="figure-caption">Bonita casa en los suburbios de Rockford Hills.</figcaption>
                        </figure>
                    </div>
                    <div class="modal-footer  justify-content-between">
                        <a>Precio: 5000$</a>
                        <a href="inmueble-detalles.html" class="btn btn-success float-end">Comprar</a>
                    </div>
                </div>
            </div>
        </div>        
    </body>
    <!-- Footer -->
    <footer class="text-center text-lg-start text-white" style="background-color: #1d3354">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">InmobITT</h6>
                        <p class="text-justify">
                            Somos un grupo de estudiantes desarrollando un proyecto de Aplicaciones Web en la materia de Programación Web en el curso de Verano 2022 del Instituto Tecnológico de Tepic.
                        </p>
                    </div>

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />
          
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Unidades de la Materia</h6>
                        <p>
                            <a class="text-white" style="text-decoration:solid;">1. Introducción a las Aplicaciones Web</a>
                        </p>
                    </div>

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />
          
                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />
          
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Integrantes:</h6>
                        <p><i class="fas fa-home mr-3"></i> Chirstian Alexis Pérez Hernández</p>
                        <p><i class="fas fa-home mr-3"></i> Juan Mata</p>
                        <p><i class="fas fa-home mr-3"></i> Marlett</p>
                        <p><i class="fas fa-home mr-3"></i> Juan Diego</p>
                        <p><i class="fas fa-home mr-3"></i> Juan</p>
                    </div>
                    <!-- Grid column -->
          
                    
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->
          
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2022 Copyright:
            <a class="text-white" href="https://www.ittepic.edu.mx/" target="blank">InmobITT</a>
        </div>
        <!-- Copyright -->
        
        <script src="/JS/main.js"></script>
    </footer>
</html>
