<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InmobITT</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">

    <link preload="valuador.css" href="css/valuador.css" as="style">
    <link rel="stylesheet" href="css/valuador.css">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="d-block p-2 bg-dark text-white navbar-brand" href="index.html">Inmob<strong>ITT</strong>
                    Valuador</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="text" placeholder="cralperezhe" aria-label="Usuario">
                        <input class="form-control me-2" type="password" placeholder="***" aria-label="Contraseña">
                        <button class="btn btn-outline-info" type="submit">Ingresar</button>
                    </form>

                    <a class="btn btn-outline-danger" style="margin-left:0.5%;" type="submit">Registrarse</a>
                </div>
            </div>
        </nav><!--   NAVBAR   -->
    </header>

    <main class="contenido">
        <div>
            <ul class="navegacion-principal">
                <li><a href="ValuadorEvaluados.html">Evaluados</a></li>
                <li><a href="ValuadorPendientes.html">Pendientes</a></li>
                <li><a href="ValuadorRecientes.html">Recientes</a></li>
            </ul>
        </div>
        <div class="contenido-publicaciones">
            <nav class="navegacion-publicaciones">
                <a href="ValuadorCasas.html">Casas</a>
                <a href="ValuadorLotes.html">Lotes</a>
                <a href="ValuadorEdificios.html">Edificios</a>
                <a href="ValuadorOficinas.html">Oficinas</a>
            </nav>
            <div class="publicaciones">
                <section class="publicacion">
                    <p>
                        <img src="https://images.emojiterra.com/google/noto-emoji/v2.034/share/1f3e0.jpg" height="50px"
                            width="50px"><br>
                        Lote 1 <br>
                        $70,000 <br>
                    </p>
                </section>
                <section class="publicacion">
                    <p>
                        <img src="https://images.emojiterra.com/google/noto-emoji/v2.034/share/1f3e0.jpg" height="50px"
                            width="50px"><br>
                        Lote 2 <br>
                        $1,000,000 <br>
                    </p>
                </section>
                <section class="publicacion">
                    <p>
                        <img src="https://images.emojiterra.com/google/noto-emoji/v2.034/share/1f3e0.jpg" height="50px"
                            width="50px"><br>
                        Lote 3 <br>
                        $120,000 <br>
                    </p>
                </section>
                <section class="publicacion">
                    <p>
                        <img src="https://images.emojiterra.com/google/noto-emoji/v2.034/share/1f3e0.jpg" height="50px"
                            width="50px"><br>
                        Lote <br>
                        $100,000 <br>
                    </p>
                </section>
                <section class="publicacion">
                    <p>
                        <img src="https://images.emojiterra.com/google/noto-emoji/v2.034/share/1f3e0.jpg" height="50px"
                            width="50px"><br>
                        Lote <br>
                        $100,000 <br>
                    </p>
                </section>
                <section class="publicacion">
                    <p>
                        <img src="https://images.emojiterra.com/google/noto-emoji/v2.034/share/1f3e0.jpg" height="50px"
                            width="50px"><br>
                        Lote <br>
                        $100,000 <br>
                    </p>
                </section>
                <section class="publicacion">
                    <p>
                        <img src="https://images.emojiterra.com/google/noto-emoji/v2.034/share/1f3e0.jpg" height="50px"
                            width="50px"><br>
                        Lote <br>
                        $100,000 <br>
                    </p>
                </section>
                <section class="publicacion">
                    <p>
                        <img src="https://images.emojiterra.com/google/noto-emoji/v2.034/share/1f3e0.jpg" height="50px"
                            width="50px"><br>
                        Lote <br>
                        $100,000 <br>
                    </p>
                </section>
                <section class="publicacion">
                    <p>
                        <img src="https://images.emojiterra.com/google/noto-emoji/v2.034/share/1f3e0.jpg" height="50px"
                            width="50px"><br>
                        Lote <br>
                        $100,000 <br>
                    </p>
                </section>
                <section class="publicacion">
                    <p>
                        <img src="https://images.emojiterra.com/google/noto-emoji/v2.034/share/1f3e0.jpg" height="50px"
                            width="50px"><br>
                        Lote <br>
                        $100,000 <br>
                    </p>
                </section>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div>
            <p>
                Av.Tecnológico # 2595, Col. Lagos del Country. C.P. 63175 <br>
                Tepic, Nayarit. México. Tel: (311) 211 94 00. info@ittepic.edu.mx <br>
                https://www.tecnm.mx/ | http://www.tepic.tecnm.mx/
            </p>
        </div>
    </footer>
</body>

</html>